<html>
<body>
        {% load comments %}
	<table align="center" border="0" cellpadding="0" cellspacing="0">
		<tr height="50px"><td><a href="../">zurueck</a></td></tr>
		<tr>
			<td>
				<table align="left" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td width="250px"><p>Eintrag von: <b>{{ post.user }}</b> </p></td>
						<td><p>Datum: {{ post.pub_date }}</p></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td><p>Titel: <b>{{ post.title }}</b></p></td>
		</tr>
		<tr height="20px"></tr>
		<tr>
			<td>
				<table align="left" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td width="20px"></td>
						<td><p>{{ post.content|linebreaks }}</p></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}</td>
		</tr>
		<tr height="20px"></tr>
		<tr>
			<td><p><b>Kommentare:</b></p></td>
		</tr>
		<tr height="10px"></tr>
		<tr>
			<td>
				<table align="left" border="0" cellpadding="0" cellspacing="0">
					{% for comment in post.comments.all %}
					<tr>
						<td>
							<table align="left" border="0" cellpadding="0" cellspacing="0">
								<tr>
									<td width="250px"><p>von: <b>{{ comment.name }}</b></p></td>
									<td><p>Datum: {{ comment.pub_date }}</p></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr height="20px"></tr>
					<tr>
						<td>
							<table align="left" border="0" cellpadding="0" cellspacing="0">
								<tr>
									<td width="20px"></td>
									<td><p>{{ comment.text|linebreaks }}</p></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr height="20px"></tr>
					{% empty %}
					<tr>
						<td>Noch keine Kommentare vorhanden, schreibe jetzt den ersten!</td>
					</tr>
					{% endfor %}
				</table>
			</td>
		</tr>
		<tr height="20px"></tr>
		<tr>
			<td><a href="/entry/{{ post.id }}/add">Schreibe einen Kommentar!</a></td>
		</tr>
	</table>
</body>
</html>




